@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link-gradient {
  background: linear-gradient(to right, #1a1a1a, #1a1a1a);
  background-size: 200% 200%;
  background-position: right bottom;
  transition: background-position 1s ease-in-out, background 1s ease-in-out;

}

.link-gradient:hover {
  background: linear-gradient(to right, #8b16da, #6308da);
  background-position: left bottom;


}